<h4 mat-dialog-title>Добавить штрихкод</h4>
<div mat-dialog-content>
  <mat-form-field>
    <mat-label>Штрихкод</mat-label>
    <input matInput type="text" [formControl]="barcodeControl" (keydown.enter)="submit()"/>
    <mat-error *ngIf="barcodeControl.hasError('required')">
      Введите штрихкод
    </mat-error>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button type="button" (click)="cancel()">Отмена</button>
  <button mat-button color="accent" type="button" (click)="submit()">Сохранить</button>
</div>