.main-content {
	min-height: 80%;
  padding: 20px;
}
  
@media screen and (min-width: 959px) {
  .main-content{
		padding: 20px;
  }
}

.active-element {
  background-color: #474747 !important; /* Note: You could also use a custom theme */
  opacity: 0.5;
}

.active-text {
  color: white;
}

.header-toolbar {
  position: fixed;
}

.sidenav-container {
  height: 100%;
}

.sidenav {
	width: 350px;
}

.mat-toolbar.mat-primary {
	position: sticky;
  top: 0;
  z-index: 1;
}

.mat-sidenav.sidenav.mat-drawer1 {
	border:0px;
}

.mat-list-item-text {
  font-size: 22px;
}

.mdc-list-item--with-leading-icon .mdc-list-item__start.blue { 
  color: black; 
}

.inline-list {
  display: flex;
}