<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav class="sidenav" fixedInViewport mode="over">
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="sidenav.close()" type="button">
        <mat-icon>arrow_back</mat-icon>
      </button>
      Меню
    </mat-toolbar>
    <mat-nav-list style="font-size: 24;">
      <mat-list-item routerLink="products" [routerLinkActive]="['mdc-list-item--activated']">
        <fa-icon [icon]="faBoxes" size="lg" matListItemIcon></fa-icon>
        <p class="mat-list-item-text" matListItemTitle>Товары</p>
      </mat-list-item>
      <mat-list-item routerLink="warehouses" [routerLinkActive]="['mdc-list-item--activated']">
        <fa-icon [icon]="faWarehouse" size="lg" matListItemIcon></fa-icon>
        <p class="mat-list-item-text" matListItemTitle>Склады</p>
      </mat-list-item>
      <mat-list-item routerLink="stores" [routerLinkActive]="['mdc-list-item--activated']">
        <fa-icon [icon]="faStore" size="lg" matListItemIcon></fa-icon>
        <p class="mat-list-item-text" matListItemTitle>Торговые точки</p>
      </mat-list-item>
      <!-- <mat-list-item routerLink="warehouses">
        <fa-icon [icon]="faWarehouse" mat-list-icon></fa-icon>
        <p class="mat-list-item-text" mat-line>Склады</p>
      </mat-list-item>
      <mat-list-item routerLink="stores">
        <fa-icon [icon]="faStore" mat-list-icon></fa-icon>
        <p class="mat-list-item-text" mat-line>Торговые точки</p>
      </mat-list-item> -->
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="header-toolbar" color="primary">
      <button (click)="sidenav.toggle()" mat-icon-button>
        <mat-icon>menu</mat-icon>
      </button>
      Администрация
    </mat-toolbar>
    <div class="main-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
<!--  -->
