<ng-template #progressSpinner>
  <div fxLayout="column" fxLayoutAlign="center center">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>
<div *ngIf="!loading; else progressSpinner">
  <h4 mat-dialog-title>Добавить позицию</h4>
  <div mat-dialog-content>
    <form [formGroup]="createProductForm">
      <div fxLayout="column">
        <div fxLayout="row" fxLayoutGap="8px" fxFlex="100">
          <mat-form-field fxFlex="100">
            <mat-label>
              Номенклатура
            </mat-label>
            <input matInput type="text" formControlName="productName" required />
            <mat-error *ngIf="createProductForm.get('productName')?.hasError('required')">Поле обязательно для
              заполнения
            </mat-error>
          </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="space-between center" fxFlex="100">
          <mat-form-field fxFlex="32">
            <mat-label>
              Роз. цена
            </mat-label>
            <input matInput type="text" formControlName="retailSellPrice" />
          </mat-form-field>
          <mat-form-field fxFlex="32">
            <mat-label>
              Опт. цена
            </mat-label>
            <input matInput type="text" formControlName="wholesaleSellPrice" />
          </mat-form-field>
          <mat-form-field fxFlex="32">
            <mat-label>
              Закуп. цена
            </mat-label>
            <input matInput type="text" formControlName="buyPrice" />
          </mat-form-field>
        </div>
        <div fxLayout="row wrap" fxLayoutAlign="end center" fxLayoutGap="4px">
          <mat-form-field fxFlex="auto">
            <mat-label>Группа</mat-label>
            <mat-select matInput formControlName="categoryId" required>
              <mat-option *ngIf="flattenedCategories?.data?.length! > 0">
                <ngx-mat-select-search placeholderLabel="Search" noEntriesFoundLabel="Совпадений не найдено"
                  [formControl]="categoryListFilter"></ngx-mat-select-search>
              </mat-option>
              <mat-option>
                --------------------
              </mat-option>
              <mat-option *ngIf="flattenedCategories?.data?.length == 0" disabled>
                <small class="font-warning">Групп не найдено</small>
              </mat-option>
              <mat-option *ngFor="let category of filteredFlattenedCategories" [value]="category.id">
                <span [ngClass]="{ 'mat-body-strong': category.nestingLevel === 0 }"
                  [ngStyle]="{ 'padding-left.px': getCategoryNestingPadding(category.nestingLevel) }">{{category.name}}</span>
              </mat-option>
            </mat-select>
            <mat-error *ngIf="createProductForm.get('categoryId')?.hasError('required')">
              Выберите группу
            </mat-error>
          </mat-form-field>
          <button mat-raised-button type="button" color="accent" (click)="showNewCategoryInput()">Добавить</button>
        </div>
        <div fxLayout="row" fxFlex="100" *ngIf="isNewCategoryInputVisible">
          <div fxLayout="column" fxFlex="100">
            <div fxLayout="row">
              <mat-form-field fxFlex="100">
                <mat-label>Новая группа...</mat-label>
                <input matInput #itemValue placeholder="Напр.: 'Крючки'" [formControl]="newCategoryControl">
                <mat-error *ngIf="newCategoryControl.hasError('required')">
                  Поле обязательно при добавлении группы
                </mat-error>
                <mat-hint>
                      <mat-icon color="warn">warning</mat-icon>
                      <b>Внимание:</b>&nbsp;Новая группа будет создана под группой:
                    &nbsp;
                      <b>'{{getCurrentCategoryName()}}'</b>
                </mat-hint>
              </mat-form-field>
              <button type="button" mat-icon-button (click)="saveNewCategory()">
                <mat-icon>check</mat-icon>
              </button>
              <button button type="button" mat-icon-button (click)="cancelCategoryCreation()">
                <mat-icon>cancel</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div fxLayout="row">
        <div fxLayout="column">
          <p>Штрихкоды:</p>
          <div fxLayout="row wrap" fxLayoutGap="8px grid">
            <mat-chip-set aria-label="Barcode selection">
              <mat-chip *ngFor="let barcode of barcodes" removable="true" disabled>{{ barcode.rawCode }}</mat-chip>
              <mat-chip (click)="addBarcode()" color="accent">
                <mat-icon>add</mat-icon>
              </mat-chip>
            </mat-chip-set>
          </div>
        </div>
      </div>
      <div fxLayout="row">
        <mat-form-field fxFlex="100">
          <mat-label>
            Описание (опционально)
          </mat-label>
          <textarea matInput rows="2" formControlName="productDescription">
          </textarea>
        </mat-form-field>
      </div>
    </form>
  </div>
  <div mat-dialog-actions>
    <button mat-raised-button type="button" (click)="onClose()">Отмена</button>
    <button mat-raised-button type="button" color="accent" (click)="onSubmit()">Сохранить</button>
  </div>
</div>