<ng-template #progressSpinner>
  <div fxLayout="column" fxLayoutAlign="center center">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>
<ng-container *ngIf="storages$ | async as storages">
  <div fxLayout="column" fxLayoutGap="8px">
    <mat-form-field fxFlex="33">
      <mat-label>Откуда</mat-label>
      <mat-select [formControl]="sourceStorageIdControl">
        <mat-option>-</mat-option>
        <mat-option *ngFor="let storage of storages" [value]="storage.id">
          {{ storage.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field fxFlex="33">
      <mat-label>Куда</mat-label>
      <mat-select [formControl]="destinationStorageIdControl">
        <mat-option>-</mat-option>
        <mat-option *ngFor="let storage of storages" [value]="storage.id">{{
          storage.name
        }}</mat-option>
      </mat-select>
    </mat-form-field>
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <!-- <span>Товары</span> -->
      <button mat-raised-button color="accent">Добавить</button>
    </div>
    <!-- <div class="products-list">
      <mat-list role="list">
        <mat-list-item *ngFor="let item of list" role="listitem">Item 1</mat-list-item>
      </mat-list>
    </div> -->
  </div>
</ng-container>
